.jumbotron {
    padding-left: 30px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: .75;
    /*background: rgba(0,0,0,0.75);*/

}

.jumbotron h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 130px;
    text-align: center;
}

body {
    background-image: url(https://helenaustin.files.wordpress.com/2011/02/img_0378.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    height: 100%;
}

.jumbotron form {
    text-align: center;
    padding: 40px;
}